{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "requireConfigFile": false,
    "project": ["./tsconfig.json"]
  },
  "plugins": ["@typescript-eslint"],
  "env": {
    "es2021": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "indent": ["error", 4],
    "import/prefer-default-export": 0,
    "no-param-reassign": [2, { "props": false }],
    "@typescript-eslint/lines-between-class-members": 0,
    "@typescript-eslint/indent": ["error", 4]
  },
  "extends": ["airbnb-base", "airbnb-typescript/base"]
}
