{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "requireConfigFile": false,
    "project": ["./tsconfig.json"]
  },
  "plugins": ["@typescript-eslint"],
  "env": {
    "es2021": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "indent": ["error", 2],
    "import/prefer-default-export": 0,
    "@typescript-eslint/lines-between-class-members": 0
  },
  "extends": ["airbnb-base", "airbnb-typescript/base"]
}
