{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "requireConfigFile": false,
    "project": ["./tsconfig.json"]
  },
  "plugins": ["@typescript-eslint"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "indent": ["error", 2]
  },
  "extends": ["airbnb-base", "airbnb-typescript/base"]
}
